In [1]:
import yfinance as yf
import pandas as pd
import requests
from bs4 import BeautifulSoup

import plotly.graph_objects as go
from plotly.subplots import make_subplots

In [2]:
tesla = yf.Ticker("TSLA")

tesla_data = tesla.history(period="max")

tesla_data.reset_index(inplace=True)

tesla_data_DataFrame = pd.DataFrame(tesla_data)

tesla_data_DataFrame.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2010-06-29 00:00:00-04:00,1.266667,1.666667,1.169333,1.592667,281494500,0.0,0.0
1,2010-06-30 00:00:00-04:00,1.719333,2.028000,1.553333,1.588667,257806500,0.0,0.0
2,2010-07-01 00:00:00-04:00,1.666667,1.728000,1.351333,1.464000,123282000,0.0,0.0
3,2010-07-02 00:00:00-04:00,1.533333,1.540000,1.247333,1.280000,77097000,0.0,0.0
4,2010-07-06 00:00:00-04:00,1.333333,1.333333,1.055333,1.074000,103003500,0.0,0.0

In [3]:
url = ' https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/revenue.htm'

response = requests.get(url)


html_data = response.text

beautiful_soup = BeautifulSoup(html_data, 'html5lib')

data_list = []


for row in beautiful_soup.find("tbody").find_all('tr'):
    cols = row.find_all("td")
    date = cols[0].text
    revenue = cols[1].text
    data_list.append({"Date": date, "Revenue": revenue})


tesla_revenue = pd.DataFrame(data_list)

tesla_revenue["Revenue"] = tesla_revenue['Revenue'].str.replace('$',"")

tesla_revenue["Revenue"] = tesla_revenue['Revenue'].str.replace(',',"")

tesla_revenue.tail()

    Date Revenue
8   2013    2013
9   2012     413
10  2011     204
11  2010     117
12  2009     112

In [4]:

gme = yf.Ticker("GME")

gme_data = gme.history(period="max")

gme_data.reset_index(inplace = True)

gme_data_DataFrame = pd.DataFrame(gme_data)

gme_data_DataFrame.head()

,Date,Open,High,Low,Close,Volume,Dividends,Stock Splits
0,2002-02-13 00:00:00-05:00,1.620128,1.693350,1.603296,1.691667,76216000,0.0,0.0
1,2002-02-14 00:00:00-05:00,1.712707,1.716074,1.670626,1.683250,11021600,0.0,0.0
2,2002-02-15 00:00:00-05:00,1.683251,1.687459,1.658002,1.674834,8389600,0.0,0.0
3,2002-02-19 00:00:00-05:00,1.666418,1.666418,1.578047,1.607504,7410400,0.0,0.0
4,2002-02-20 00:00:00-05:00,1.615920,1.662210,1.603296,1.662210,6892800,0.0,0.0

In [ ]:
url = 'https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0220EN-SkillsNetwork/labs/project/stock.html'

response = requests.get(url)

html_data = response.text

html_data

In [6]:
beautiful_soup = BeautifulSoup(html_data, 'html5lib')

data_list = []

for row in beautiful_soup.find("tbody").find_all('tr'):
    cols = row.find_all("td")
    date = cols[0].text
    revenue = cols[1].text
    data_list.append({"Date": date, "Revenue": revenue})


gme_revenue = pd.DataFrame(data_list)

gme_revenue["Revenue"] = gme_revenue['Revenue'].str.replace('$',"")

gme_revenue["Revenue"] = gme_revenue['Revenue'].str.replace(',',"")


print(gme_revenue)

    Date Revenue
0   2020    6466
1   2019    8285
2   2018    8547
3   2017    7965
4   2016    9364
5   2015    9296
6   2014    9040
7   2013    8887
8   2012    9551
9   2011    9474
10  2010    9078
11  2009    8806
12  2008    7094
13  2007    5319
14  2006    3092
15  2005    1843

In [7]:
gme_revenue.tail()

    Date Revenue
11  2009    8806
12  2008    7094
13  2007    5319
14  2006    3092
15  2005    1843

In [8]:
def make_graph(stock_data, revenue_data, stock):
    fig = make_subplots(rows=2, cols=1, shared_xaxes=True, subplot_titles=("Historical Share Price", "Historical Revenue"), vertical_spacing = .3)
    stock_data_specific = stock_data[stock_data.Date <= '2021--06-14']
    revenue_data_specific = revenue_data[revenue_data.Date <= '2021-04-30']
    fig.add_trace(go.Scatter(x=pd.to_datetime(stock_data_specific.Date, infer_datetime_format=True), y=stock_data_specific.Close.astype("float"), name="Share Price"), row=1, col=1)
    fig.add_trace(go.Scatter(x=pd.to_datetime(revenue_data_specific.Date, infer_datetime_format=True), y=revenue_data_specific.Revenue.astype("float"), name="Revenue"), row=2, col=1)
    fig.update_xaxes(title_text="Date", row=1, col=1)
    fig.update_xaxes(title_text="Date", row=2, col=1)
    fig.update_yaxes(title_text="Price ($US)", row=1, col=1)
    fig.update_yaxes(title_text="Revenue ($US Millions)", row=2, col=1)
    fig.update_layout(showlegend=False, height=900, title=stock, xaxis_rangeslider_visible=True)
    fig.show()
    
    
    
make_graph(tesla_data, tesla_revenue, 'Tesla')

/var/folders/2g/dk9lfkks0sbc7nqspt8x75v40000gn/T/ipykernel_14359/659223054.py:5: UserWarning:

The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.

/var/folders/2g/dk9lfkks0sbc7nqspt8x75v40000gn/T/ipykernel_14359/659223054.py:6: UserWarning:

The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.

ValueError: Mime type rendering requires nbformat>=4.2.0 but it is not installed

In [ ]:
make_graph(gme_data, gme_revenue, 'GameStop')